:root {
  --headerHeight: 90px;
  --footerHeight: var(--headerHeight);
  --sectionMargin: var(--headerHeight);
}

$textPrimatyColor: rgb(54, 54, 54);
$textSecondaryColor: rgb(154, 154, 154);
$linkHoverPrimaryColor: #d1a33d;
$bgLightColor: #fff;
$textLightColor: #fff;
$greyColor: #bababa;
$blueColor1: #4F358F;
$blueColor2: #5CB0C0;
$redColor: #E83C38;
$greenColor: #66A638;
$vkColor: #2787f5;
$tgColor: #28a8e9;