
<form class="send-email" action="#" method="POST">
    <div class="input">
        <input type="text" class="input__field" placeholder="Имя">
    </div>
    <div class="input">
        <input type="email" class="input__field" placeholder="Email">
    </div>
    <div class="input">
        <textarea class="input__field input__field--textarea" name="" cols="30" rows="10" placeholder="Сообщение"></textarea>
    </div>
    <input class="btn form__submit send-email__submit" type="submit" value="Отправить">
</form>
